body { background: #17909; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 24px; display: flex; }
.block-config-0 { color: #fdb6d1; font-size: 19px; margin-bottom: 5px; }
.block-cluster-1 { color: #1c838c; font-size: 20px; margin-bottom: 5px; }
.block-notify-2 { color: #152c14; font-size: 14px; margin-bottom: 5px; }
.block-filter-3 { color: #f167e7; font-size: 18px; margin-bottom: 5px; }
.block-payment-4 { color: #f6ef8d; font-size: 18px; margin-bottom: 5px; }